<%- include("partials/header.ejs") %>
<div class="container">
    <h1 class="heading-color">This is Evil Insult Generator API</h1>
    <p><%= createdby %></p>
    <p><%= insult %></p>
</div>
<%- include("partials/footer.ejs") %>