<%- include("partials/header.ejs") %>
<div class="container ">
    <div class="p-2 api-hero">
        <img class="api-hero" src="/images/API_Hero.svg" alt="api-hero.svg">
    </div>
    <h1 class="heading-color">What is web-APIs?</h1>
    <p>An application programming interface or application program interface (API) is an access point
         through which apps can communicate back and forth. On the most basic level, 
        this allows for the transfer of data without exposing the internal workings of the app. </p>
    <p>While the idea originated in the 1940s, the API economy exploded as microservices became more
         popular in the 2010s. In a microservice architecture, a suite of smaller, loosely coupled 
         services work together to act as a single application, driving digital transformation. 
         To do this, however, those services must interact seamlessly.</p>
    <h2 class="heading-color">How do APIs work?</h2>
    <p >Pretty much anyone who knows anything about APIs will tell you they’re the software equivalent of a restaurant waiter taking your order, bringing it to the kitchen, and then returning to your table with the food you ordered.&nbsp;</p>
    <p>In more technical terms, an API generally serves as a set of rules between an application and a server that governs how they communicate with each other. The defined communication protocol allows apps to be developed, connected, and integrated more quickly and at scale. </p>
    <p>Here’s how an API works: </p>
    <p>
        <ul>
            <li><b>API request:</b> A request originates from a client application and is processed via the API’s management system or the API gateway.</li>
            <li><b>API call:</b> The API’s management system or the API gateway calls the web server or external program.</li>
            <li><b>API response:</b> The server sends the requested information to the API.</li>
            <li><b>API data transfer:</b> The API communicates the data to the client application that requested it.</li>
        </ul>
    </p>
</div>


<%- include("partials/footer.ejs") %>